/* styles.css */
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.card {
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #8f75ff;
}

.login {
    text-align: center;
}

.login h3 {
    margin-bottom: 20px;
    color: #333;
}

.input-field {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 5px;
    align-items: start;
    margin-bottom: 20px;
    position: relative;
}

.input-field label {
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
    color: #333;
    font-weight: bold;
}

.input-field input {
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-field input[type="password"] {
    padding-right: 2.5rem; /* Give space for the icon */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.input-field1{
    margin-top: 1pc;
}

.input-field .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(50%);
    cursor: pointer;
}